<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="log-path">log/</Property>
	</Properties>
	<Appenders>
		<Console name="RootConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%-5level [%d{HH:mm:ss.SSS}] [%-15M] [%-40logger{40}] [%-20F] [%5L] - %msg%n" />
		</Console>
		<RollingFile name="RollingFileAppender" fileName="${log-path}/dummyDriver.log"
			filePattern="${log-path}/dummyDriver-%d{yyyy-MM-dd}-%i.log" append="false">
			<PatternLayout header="${java:runtime} - ${java:vm} - ${java:os}"
				pattern="%-5level
				[%d{HH:mm:ss.SSS}] [%-15M] [%-40logger{40}] [%-20F] [%5L] - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="Log" level="info" />
		<Root level="debug">
			<AppenderRef ref="RootConsoleAppender" level="info" />
			<AppenderRef ref="RollingFileAppender" level="debug" />
		</Root>
	</Loggers>
</Configuration>